---
layout: base.njk
permalink: '/servicos/auditoria-acessibilidade/'
title: 'Auditoria de Acessibilidade'
description: 'Entenda claramente a acessibilidade do seu produto.'
---

<div class="page-content">
  <div class="mx-auto px-8 max-w-7xl">
    <h1 class="mb-4 font-black text-blood-red-950 text-4xl md:text-5xl">
      {{ title }}
    </h1>

    <p class="mb-12 font-bold text-lg leading-relaxed">
      {{ description }}
    </p>

    <p class="mb-12 text-lg leading-relaxed">
      Minhas auditorias avaliam a acessibilidade do seu site ou aplicativo e fornecem recomendações práticas para melhorias.
    </p>

    <p class="mb-12 text-lg leading-relaxed">
      Elas avaliam o cumprimento das Diretrizes de Acessibilidade para Conteúdo Web (WCAG) 2.2 nos níveis A e AA. Seguindo os padrões de acessibilidade e usabilidade
      do Governo Brasileiro e as normas da Associação Brasileira de Normas Técnicas (ABNT): NBR 17060 e NBR 17225.
    </p>

    <p class="mb-12 text-lg leading-relaxed">
      Não forneço relatórios complexos, meus relatórios são objetivos para você corrigir os problemas de forma prática. Analisando a <strong>priorização</strong>, <strong>impacto</strong> e <strong>risco legal</strong> de cada problema encontrado.
    </p>

    <p class="mb-12 text-lg leading-relaxed">
      O relatório é entregue em formato de planilha, para facilitar a integração no seu ambiente de desenvolvimento.
    </p>

    <a href="/contato" class="font-bold hover:text-blood-red-950 underline underline-offset-4 hover:no-underline">
      Solicitar orçamento de auditoria
    </a>

    <h2 class="mb-4 font-black text-blood-red-950 text-5xl">
      Tipos de auditoria
    </h2>

    <details class="mb-4">
      <summary class="bg-light-silver-100 p-4 border-2 border-blood-red-950 font-bold text-blood-red-950">Auditoria básica</summary>
      <h3 class="my-4 font-black text-blood-red-950 text-xl">Ideal para quem quer começar</h3>
      <p>
        A <strong>Auditoria básica</strong> é uma leitura rápida e honesta do seu produto. Não é uma auditoria completa.
        É o primeiro passo: entender o terreno antes de planejar qualquer movimento.
      </p>
      <p>
        <strong>Recomendado para:</strong> pequenas empresas, blogs, portfólios, páginas de vendas.
      </p>

      <h3 class="my-4 font-black text-blood-red-950 text-xl">O que você recebe:</h3>
      <ul class="list-disc">
        <li>Avaliação de 5 fluxos principais;</li>
        <li>Testes manuais e automatizados;</li>
        <li>Lista priorizada de problemas: o que bloqueia, o que degrada, o que é cosmético;</li>
        <li>Recomendações objetivos para correções;</li>
        <li>Indicações de referência para cada correção (WCAG, WAI-ARIA);</li>
        <li>Relatório em formato acessível, pronto para compartilhar com o time.</li>
      </ul>

      <p><strong>Prazo de entrega:</strong> 5 dias utéis, após assinatura do contrato de serviço.</p>
    </details>

    <details class="mb-4">
      <summary class="bg-light-silver-100 p-4 border-2 border-blood-red-950 font-bold text-blood-red-950">Auditoria completa</summary>
      <p class="my-8 font-bold">
        Ideal para quem quer começar
      </p>

      <p>
        A <strong>Auditoria básica</strong> é uma leitura rápida e honesta do seu produto. Não é uma auditoria completa. É o primeiro passo: entender o terreno antes de planejar qualquer movimento.
      </p>
      <p>
        Recomendado para: pequenas empresas, blogs, portfólios, <em lang="en">landing pages</em>
      </p>
    </details>

    <blockquote class="flex items-center bg-light-silver-100 p-4 border-blood-red-950 border-l-5">
      <p class="text-lg">
        <strong>Observação:</strong> Todas as auditorias incluem uma reunião pós-auditoria de 1 hora para discutir o relatório,
        além de suporte por e-mail para quaisquer dúvidas.
      </p>
    </blockquote>

    <section class="mb-4 py-4">
      <h2 class="mb-4 font-black text-blood-red-950 text-5xl">Investimentos</h2>

      <ul class="list-disc">
        <li><strong>Auditoria básica:</strong> a partir de R$ 800,00;</li>
        <li><strong>Auditoria completa:</strong> a partir de R$ 1.600,00.</li>
      </ul>

      <p>O preço depende da complexidade do projeto. O preço pode ser ajustado ao seu orçamento, sem nenhum problema.</p>
      <a href="/contato" class="font-bold hover:text-blood-red-950 underline underline-offset-4 hover:no-underline">
        Solicitar orçamento de auditoria
      </a>
    </section>

    {% include "partials/service-cta.njk" %}
  </div>
</div>
