---
layout: base.njk
permalink: '/servicos/'
title: 'Serviços'
description: 'Ajudo organizações a tornarem seus sites e serviços digitais acessíveis para pessoas com deficiência e melhores para todos.'
---

{% from "partials/service-card.njk" import serviceCard %}

<section class="page-content">
  <div class="mx-auto px-8 max-w-7xl">
    <h1 class="text-blood-red-950">{{ title }}</h1>
    <p class="lead">
      {{ description }}
    </p>
    <p class="lead">
      Meus principais serviços são <a href="/servicos/auditoria-acessibilidade" class="hover:text-blood-red-950 underline underline-offset-4 hover:no-underline">auditorias de acessibilidade</a>
      e <a href="http://" class="hover:text-blood-red-950 underline underline-offset-4 hover:no-underline">desenvolvimento acessível</a>.
    </p>

    <div class="gap-6 grid md:grid-cols-2 lg:grid-cols-3 my-12">
      {% for service in services.sections %}
        {{ serviceCard(service) }}
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-light-silver-100 py-24">
  <div class="flex md:flex-row flex-col justify-between items-center gap-12 mx-auto px-8 max-w-7xl">
    <div class="max-w-2xl">
      <h2 class="mb-4 font-black text-blood-red-950 text-4xl">Pronto para tornar seu projeto acessível?</h2>
      <p class="text-secondary text-lg">Vamos conversar sobre como aplicar as melhores práticas de inclusão no seu
        produto digital.</p>
    </div>
    <a href="/contato"
      class="bg-blood-red-950 px-12 py-5 rounded font-bold text-on-primary text-white text-lg hover:scale-[1.02] active:scale-95 transition-all">
      Iniciar Consultoria
    </a>
  </div>
</section>
