<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} - Bruno Pulis</title>
  <meta name="description" content="Engenheiro de acessibilidade digital" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/assets/css/index.css" />
</head>
<body>
  <a href="#main-content" class="sr-only focus:not-sr-only">Ir para conteúdo principal</a>
  <div class="w-full bg-errie-black-900 text-white py-3 text-center font-bold tracking-wide text-sm">
    <p class="">Esse é um redesign aberto, se algo estiver estranho é por isso</p>
  </div>
  {% include "partials/header.njk" %}
  <main id="main-content">
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</body>

</html>
