---
layout: base.njk
permalink: '/en/contact/'
title: 'Contact'
description: "I'm available for consulting, audit, and accessible development projects. Let's talk!"
---

<section class="page-content">
  <div class="mx-auto px-8 max-w-7xl">
    <h1 class="font-bold text-blood-red-950">
      {{ 'pages.contact.title' | i18n(locale) }}
    </h1>

    <p class="lead">
      {{ 'pages.contact.description' | i18n(locale) }}
    </p>

    <ul class="list-disc">
      <li>
        <a href="mailto:hello@brunopulis.com" class="text-xl underline underline-offset-4 hover:no-underline">
          {{ 'pages.contact.email' | i18n(locale) }}
        </a>
      </li>
      <li>
        <a href="tel:5531973438008" class="text-xl underline underline-offset-4 hover:no-underline">
          {{ 'pages.contact.whatsapp' | i18n(locale) }}
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/pulis" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
          {{ 'pages.contact.linkedin' | i18n(locale) }}
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@brunopulis" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
          {{ 'pages.contact.mastodon' | i18n(locale) }}
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/brunopulis.com" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
          {{ 'pages.contact.bluesky' | i18n(locale) }}
        </a>
      </li>
    </ul>

    <div class="contact-info">
      <h2 class="font-bold text-blood-red-950">{{ 'pages.contact.sectionTitle' | i18n(locale) }}</h2>

      <p>{{ 'pages.contact.scheduleText' | i18n(locale) }}</p>
      <ul class="list-disc">
        <li>
          <a href="https://adplist.org/mentors/bruno-pulis" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
            {{ 'pages.contact.adplist' | i18n(locale) }}
          </a>
        </li>
        <li>
          <a href="https://cal.com/brunopulis/consultoria?overlayCalendar=true" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
            {{ 'pages.contact.mentoring' | i18n(locale) }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
