---
layout: base.njk
permalink: '/en/terms/'
title: 'Terms of Use'
description: 'General conditions for browsing and using the Bruno Pulis website.'
---

<section class="page-content">
  <div class="mx-auto px-8 max-w-7xl">
    <h1 class="font-bold text-blood-red-950">{{ 'pages.terms.title' | i18n(locale) }}</h1>
    <p class="lead">{{ 'pages.terms.description' | i18n(locale) }}</p>

    {% for section in 'pages.terms.sections' | i18n(locale) %}
    <h2 class="font-bold">{{ section.heading }}</h2>
    {% if section.text %}<p>{{ section.text }}</p>{% endif %}
    {% if section.text1 %}<p>{{ section.text1 }}</p>{% endif %}
    {% if section.text2 %}<p>{{ section.text2 }}</p>{% endif %}
    {% endfor %}

    <p><em>{{ 'pages.terms.lastUpdate' | i18n(locale) }}</em></p>
  </div>
</section>
