---
layout: base.njk
permalink: '/contato/'
title: 'Contato'
description: 'Estou disponível para projetos de consultoria, auditoria e desenvolvimento acessível. Vamos conversar!'
---

<section class="page-content">
  <div class="mx-auto px-8 max-w-7xl">
    <h1 class="font-bold text-blood-red-950">
      {{ title }}
    </h1>

    <p class="lead">
      {{ description }}
    </p>

    <ul class="list-disc">
      <li>
        <a href="mailto:hello@brunopulis.com" class="text-xl underline underline-offset-4 hover:no-underline">
          Mandar um e-mail
        </a>
      </li>
      <li>
        <a href="tel:5531973438008" class="text-xl underline underline-offset-4 hover:no-underline">
          Falar no <span lang="en">WhatsApp</span>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/pulis" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@brunopulis" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
          Mastodon
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/brunopulis.com" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
          Bluesky
        </a>
      </li>
    </ul>

    <div class="contact-info">
      <h2 class="font-bold text-blood-red-950">Quer bater um papo sobre acessibilidade?</h2>

      <p>Marque um horário em:</p>
      <ul class="list-disc">
        <li>
          <a href="https://adplist.org/mentors/bruno-pulis" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
            ADPList
          </a>
        </li>
        <li>
          <a href="https://cal.com/brunopulis/consultoria?overlayCalendar=true" rel="me noopener noreferrer" target="_blank" class="text-xl underline underline-offset-4 hover:no-underline">
            Mentoria individual
          </a>
        </li>
      </ul>

    </div>
  </div>
</section>
