<header class="py-4 border-2 border-light-silver-300">
  <div class="flex justify-between items-center gap-4 mx-auto px-4 py-3 max-w-7xl">
    <a href="/" class="flex items-center gap-2 link">
      <img alt="" src="/assets/images/icon.svg" decoding="async" fetchpriority="auto" height="37" loading="eager" width="47" aria-hidden="true">
      <span class="font-bold text-sm sm:text-lg">Bruno Pulis</span>
    </a>
    {% include "partials/navigation.njk" %}
  </div>
</header>
