<nav>
  <ul class="nav-links">
    <li><a href="/servicos" class="text-lg">Serviços</a></li>
    <li><a href="/sobre" class="text-lg">Sobre</a></li>
    <li><a href="/portfolio" class="text-lg">Portfolio</a></li>
    <li><a href="/palestras" class="text-lg">Palestras</a></li>
    <li><a href="/contato" class="text-lg">Contato</a></li>
  </ul>
</nav>
