<nav>
  <ul class="nav-links">
    <li><a href="/servicos">Serviços</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/palestras">Palestras</a></li>
    <li><a href="/contato">Contato</a></li>
  </ul>
</nav>
