<section class="bg-light-silver-100 p-8">
  <h2 class="font-serif font-bold">Vamos conversar!</h2>

  <p>Se você busca suporte contínuo em acesssibilidade ou uma parceria de longo prazo para atender os requisitos legais brasileiros, adoraria ouvir de você.</p>
  <p>
    <a href="/contato" class="font-bold hover:text-blood-red-950 underline underline-offset-4 hover:no-underline">Entre em contato</a> ou me mande uma mensagem <a href="https://linkedin.com/in/pulis" class="font-bold hover:text-blood-red-950 underline underline-offset-4 hover:no-underline">LinkedIn</a>.
  </p>
</section>
