<section class="bg-light-silver-100 p-8">
  <h2 class="font-serif font-bold text-blood-red-950">
    {{ 'serviceCta.title' | i18n(locale) }}
  </h2>

  <p>{{ 'serviceCta.text' | i18n(locale) }}</p>
  <p>
    <a href="{{ '/en/contact' if locale === 'en' else '/contato' }}">
      {{ 'serviceCta.cta' | i18n(locale) }}
    </a>

    {{ '' if locale === 'en' else 'ou me mande uma mensagem' }}
    <a href="https://linkedin.com/in/pulis">
      {{ 'serviceCta.ctaLinkedin' | i18n(locale) }}
    </a>.
  </p>
</section>
