<section class="bg-blood-red-950 px-8 py-24 text-white">
  <div class="mx-auto max-w-7xl">
    <h2 class="mb-16 font-serif text-4xl md:text-5xl">O que nós fazemos</h2>

    <div class="gap-1 grid md:grid-cols-3">
      <article class="group bg-white/5 hover:bg-white/10 p-8 transition-all cursor-default">
        <h3 class="mb-4 font-bold text-xl">Diagnóstico e Auditoria</h3>
        <p class="text-white leading-relaxed">Análise técnica profunda baseada nas heurísticas da WCAG 2.2
          para identificar e catalogar barreiras de acessibilidade.</p>
      </article>
      <article class="group bg-white/5 hover:bg-white/10 p-8 transition-all cursor-default">
        <h3 class="mb-4 font-bold text-xl">Desenvolvimento Acessível</h3>
        <p class="text-white leading-relaxed">Implementação de componentes front-end robustos utilizando
          WAI-ARIA e semântica nativa de alto desempenho.</p>
      </article>
      <article class="group bg-white/5 hover:bg-white/10 p-8 transition-all cursor-default">
        <h3 class="mb-4 font-bold text-xl">Remediação de Documentos</h3>
        <p class="text-white leading-relaxed">Adaptação de PDFs e documentos digitais para compatibilidade
          total com leitores de tela e tecnologias assistivas.</p>
      </article>
      <article class="group bg-white/5 hover:bg-white/10 p-8 transition-all cursor-default">
        <h3 class="mb-4 font-bold text-xl">Treinamentos e Palestras</h3>
        <p class="text-white leading-relaxed">Capacitação técnica para times de design e engenharia sobre
          cultura inclusiva e padrões técnicos de implementação.</p>
      </article>
      <article class="group bg-white/5 hover:bg-white/10 p-8 transition-all cursor-default">
        <h3 class="mb-4 font-bold text-xl"><span lang="en">Coaching</span> e Mentoria</h3>
        <p class="text-white leading-relaxed">Acompanhamento individual para desenvolvedores que buscam
          elevar o nível de acessibilidade em seus projetos.</p>
      </article>
      <article class="group bg-white/5 hover:bg-white/10 p-8 transition-all cursor-default">
          <h3 class="mb-4 font-bold text-xl">Consultoria Estratégica</h3>
        <p class="text-white leading-relaxed">Planejamento de longo prazo para integração de
          acessibilidade no ciclo de vida de desenvolvimento de produtos.</p>
      </article>
    </div>
  </div>
  <div class="flex justify-center items-center py-4">
    <a href="/servicos" class="focus:ring-2 focus:ring-errie-black-950 focus:ring-offset-font-bold text-white text-xl underline underline-offset-8 hover:no-underline transition-all">
      Explore todos serviços
    </a>
  </div>
</section>
